#container {
            padding: 20px 40px;
            margin: 0px auto;
        }

        body {
            background-color: #F2E5E5;
        }
        h1 {
            font-size: 70px;
            font-weight: 1000;
            text-align: center;
            color: #CE7777; 
            text-shadow: 5px 5px #154297, 8px 8px rgb(255, 255, 255);
        }

        ul {
            list-style-type: none;
            padding-left:0;
        }

        li{
            margin : 10px;
        }

        #shipping li label {
            width: 80px;
            text-align: center;
            float: left;
        }

        .field1 {
            border: 3px dashed #6e6e6e;
            padding: 20px;
        }

        #login {
            width:500px;
            margin : 0 auto;
            text-align: center;
        }

        input[type=button] {
            width:150px;
            height: 40px;
            background-color:antiquewhite;
            border: 1px solid #ccc;
            box-shadow: 1px 1px 1px #ccc;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
        }

        input[type=button]:hover {
            background-color: #332c26;
            color: rgb(255, 255, 255);
        }

        #button-area {
            margin-top: 40px;
            text-align: center;
            --padding: 10px;
            border-radius: 20px;
        }